/*
    Company name: @Meyvn
    Website name: https://meyvn.netlify.app/
    Language used: React JS, CSS, HTML, JavaScript
    Designer: @iwmvictor
*/
/*
       Used 3rd Party Resources
       ------------------------
       - Images [https://www.pexels.com/]
       - Fonts []
       - Icons []
       - 
*/

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.woff") format("woff");
  /* Add other font formats (e.g., woff2) if needed */
}

:root {
  /* color */
  --primary-color: #140129;
  --secondary-color: #141432;
  --accent-color: #1b2850;
  --tertiary-color: #ff9f43;
  --white-color: #fff;
  --black-color: black;

  /* other css */
  --box-shadow: 0 0 6px #140129;
  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  --box-radius: 6;
  --button-radius: 10;
  --image-radius: 10;

  /* font sizes  */
  --h1-size: 28px;
  --h2-size: 24px;
  --h3-size: 21px;
  --h4-size: 18px;
  --h5-size: 16px;
  --h6-size: 14px;

  --body-font-size: 14px;
  --secondary-font-size: 12px;
}

/* global css */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: var(--white-color);
  background: var(--secondary-color);
  font-size: var(--body-font-size);
  font-family: "Roboto Condensed", sans-serif;
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

a {
  text-decoration: none;
  font-size: var(--a-size);
  transition: var(--transition);
}

p {
  font-size: var(--p-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}

li {
  list-style: none;
}

.modal {
  position: fixed;
  width: 100%;
  top: 75px;
  left: 0;
  background: #2b2b2b80;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;
}

/* reusable css*/

.row,
.hrow,
.vrow {
  display: flex;
  align-items: center;
}

.vrow {
  flex-direction: column;
}

.hrow {
  flex-direction: row;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 88%;
}

.btn {
  border: none;
  outline: none;
  overflow: hidden;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: var(--white-color);
  text-transform: uppercase;
  transition: var(--transition);
  background: var(--accent-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  z-index: 2;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: var(--transition);
  background: var(--secondary-color);
}

.btn:hover {
  color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.btn:hover::before {
  transform: scaleY(1);
  transform-origin: top;
}

button {
  outline: none;
  border: none;
  border-radius: var(--button-radius);
}

.col-1 {
  flex-basis: 0 0 8.33333333%;
  max-width: 8.33333333%;
}

.col-2 {
  flex-basis: 0 0 16.6666667%;
  max-width: 16.6666667%;
}

.col-3 {
  flex-basis: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 0 0 33.3333333%;
  max-width: 33.3333333%;
}

.col-5 {
  flex-basis: 0 0 41.6666667%;
  max-width: 41.6666667%;
}

.col-6 {
  flex-basis: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 0 0 58.3333333%;
  max-width: 58.3333333%;
}

.col-8 {
  flex-basis: 0 0 66.6666667%;
  max-width: 66.6666667%;
}

.col-9 {
  flex-basis: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 0 0 83.3333333%;
  max-width: 83.3333333%;
}

.col-11 {
  flex-basis: 0 0 91.6666667%;
  max-width: 91.6666667%;
}

.col-12 {
  flex-basis: 0 0 100%;
  max-width: 100%;
}

/*==== NAVBAR====*/

header {
  display: flex;
}

.navbar {
  display: flex;
  padding: 0 10px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  z-index: 2;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links,
.nav-grid,
.nav-brand {
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}

.nav-grid:hover {
  color: var(--tertiary-color);
}

.nav-links {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 28px 10px;
  transition: var(--transition);
}
.nav-links::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: var(--tertiary-color);
  transition: var(--transition);
}

.nav-links:hover::before {
  width: 100%;
}

.nav-links:hover {
  color: var(--tertiary-color);
}

.nav-grid {
  font-size: var(--h1-size);
  font-weight: bold;
}

.nav-icon,
.nav-date {
  padding: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.nav-icon:hover,
.nav-date:hover {
  color: var(--tertiary-color);
}

.nav-date {
  border-left: 1px solid var(--accent-color);
}

.nav-date .nav-day {
  font-size: var(--h2-size);
}
.nav-date .vrow {
  font-size: 10px;
  font-weight: 400;
  align-items: center;
  text-transform: capitalize;
}

.insta-icon .insta-count {
  font-size: var(--body-font-size);
  text-transform: uppercase;
}

.nav-brand img {
  width: 100px;
  height: auto;
}

/*header notifications*/
.header-notification {
  width: 40%;
  padding: 5px;
  margin-top: -1px;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--accent-color);
  z-index: 1;
}

.notification-content {
  padding: 3px;
  display: flex;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

.notification-message {
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-weight: bold;
}

.notification-content .notification-category {
  text-transform: uppercase;
  color: var(--tertiary-color);
  animation: hoverCat 5s infinite alternate;
}

@keyframes hoverCat {
  from {
    color: var(--tertiary-color);
  }
  to {
    color: var(--white-color);
  }
}

@keyframes notificationMsg {
  0% {
    text-indent: -100%;
  }
  25% {
    text-indent: -100%;
  }
  50% {
    text-indent: 0;
  }
  75% {
    text-indent: 0;
    margin-left: 10px;
    border-radius: 5px;
    animation: hoverCat 10s infinite;
    box-shadow: 0 0 2px var(--secondary-color);
  }
  100% {
    text-indent: 100%;
  }
}

.notification-icon img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
}

.notification-text {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.notification-message {
  animation: notificationMsg 10s infinite;
  white-space: nowrap;
}

.notification-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--white-color);
  transition: var(--transition);
}

.notification-text:hover::before {
  width: 100%;
}

/* Carousel.css */
.carousel-container {
  width: 88%;
  padding: 5px 15px 5px 5px;
  margin: 60px auto 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--primary-color);
}

.carousel-item {
  margin: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  cursor: pointer;
}

.carousel-item:hover {
  border: 1px solid var(--accent-color);
}

.carousel-image {
  width: 200px;
  transition: var(--transition);
  border-radius: var(--image-radius);
}

.carousel-item .carousel-content {
  width: 100%;
  margin-top: -3px;
  padding: 10px 5px;
  background: var(--secondary-color);
  border: 1px solid var(--accent-color);
}

.carousel-content h5 {
  margin-bottom: 2px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
  color: var(--white-color);
  transition: var(--transition);
}

.carousel-content h5::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: var(--white-color);
  transition: var(--transition);
}

.carousel-content h5:hover::before {
  width: 100%;
}

.carousel-content p {
  font-size: 9px;
  font-weight: lighter;
  text-transform: capitalize;
  color: var(--white-color);
}

/*hero
.home-hero {
  width: 100%;
}

.hero-left,
.hero-main,
.hero-right {
  padding: 20px;
}

.hero-box-wp{
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
}

.hero-box-content{
  display: flex;
  flex-direction: column;
  bottom: 3px;
}

.hero-box-wp:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero-box-wp:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hero-main.hero-box-wp {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}*/

.home-hero {
  margin-top: 20px;
}

.hero-left .hero-box-wp,
.hero-right .hero-box-wp {
  height: 44vh;
}

.hero-left,
.hero-main,
.hero-right {
  padding: 0 10px;
  height: 90vh;
  justify-content: space-between;
}

.hero-box-wp {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100%;
}

.hero-box-content {
  padding: 80% 20px 10px 20px;
}

/* Additional styles for category title, h5, and other elements */
.category-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.other {
  display: flex;
  align-items: center;
  color: #fff; /* Set text color for better visibility on images */
}

/* Styles for the arrow icon */
.other svg {
  margin-left: 5px;
}

/* ============  Footer.css  =========== */

footer {
  width: 100%;
  bottom: 0;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

footer .container {
  background: linear-gradient(to right, #140129, rgba(12, 8, 40, 0.735));
}

footer .row {
  width: 100%;
  padding: 20px 1.5% 5px 1.5%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--accent-color);
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 100px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.col h4 {
  font-size: 11px;
  cursor: pointer;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  color: var(--white-color);
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.col form .far {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.col form .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons span {
  background: var(--white-color);
  color: var(--accent-color);
  border-radius: 50%;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: var(--transition);
}

.social-icons span:hover {
  color: var(--tertiary-color);
  background: var(--primary-color);
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--accent-color);
}

.copyright {
  text-align: center;
  margin: 10px 0 20px 0;
}

.underline {
  width: 100%;
  height: 5px;
  background: var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 5s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
